Anaconda3-2022.10-Linux-x86_64.sh
anaconda3
bin
snap
spark
notebooks/data
notebooks/fhvhv
notebooks/fhvhv_tripdata_2021-01.csv.gz
notebooks/fhvhv_tripdata_2021-01.csv.gz.1
notebooks/head.csv.gz
notebooks/lib
notebooks/output_path
notebooks/tmp
notebooks/zones
